<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.whosbookupdate.mapper.CurationMapper">

    <insert id="insertBook">
        INSERT INTO BOOK(book_id,title,authors, thumbnail,url,isbn,publisher)
        VALUES(#{bookId},#{title},#{authors},#{thumbnail},#{url})
    </insert>


    <insert id="insertCuration" parameterType="com.example.whosbookupdate.domain.CurationVO" useGeneratedKeys="true">
        INSERT INTO curation (
            title,
            member_id,
            category_id,
            content,
            emoji,
            curation_status,
            curation_like_count
        ) VALUES (
                     #{title},
                     #{memberId},
                     #{categoryId},
                     #{content},
                     #{emoji},
                     #{curationStatus},
                0
                   )
    </insert>
    <insert id="insertCurationBook">


    </insert>

    <select id="selectCuration" resultType="java.util.List">
                 SELECT
                     * FROM
                           Curation

    </select>
    <select id="getBook" resultType="com.example.whosbookupdate.dto.BookDto">
           SELECT * FROM BOOK WHERE BOOK_ID=#{bookId}
    </select>
    <select id="getBooksByIsbnList" resultType="com.example.whosbookupdate.domain.BookVO">
        SELECT * FROM BOOK WHERE isbn= #{isbn}
    </select>

</mapper>